.container {
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    grid-template-rows: 1fr 7fr 1fr;
    min-width: 800px;
    min-height: 500px;
    resize: both;
    overflow: auto;
    height: 100vh; 
    width: 100vw;
   
} 

.grid_item {
    border: .1px solid gray;
    text-align: center;
    overflow: auto;
    
}

#top_middle {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr ;
    justify-content: center;
    flex-direction: column;
}

#header_2 {
    background: #dddddd;
    align-items:flex-end; 
    justify-content: start;
    display: flex;
    padding: 4px;
    margin-left: 0px;
    margin-bottom: -25px;
}

.header_name {
    font-size: 2.5rem;
    padding-bottom: 0px;
}


.navbar {
    display: flex;
    /* background: red; */
    /* border: 4px solid indigo; */
    flex: 5;
    justify-content: space-between;
    align-items:center;
    margin-left: 0px;
    margin-top: 7px;
    margin-bottom: 15px;
    flex-wrap: wrap;
    flex-direction: row;

}

.navbar a {
    text-decoration: none;
    font-size: 1em;
    padding: 8px;
    color: blue;
    margin-left: -5px;
}

.navbar_line {
    border: none;
    height: 1px;
    width:900;
    background: gray;
    margin: -10px auto ;
    justify-content: space-between;
    margin-bottom: -20px;
}

.body {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    /* min-width: 800px;
    min-height: 500px; */
    resize: both;
    overflow: auto;
    height: 100vh; 
    width: 75vw;

   
} 

.project_headers {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content:center;
}



/* .body {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    justify-content: space-between;
} */

#bottom_middle {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
    flex-direction: column;
}

#footer {
    background: #dddddd;
    align-items:flex-end; 
    justify-content: start;
    display: flex;
    padding: 0px;
    margin-left: 0px;
    margin-bottom: -25px;
}